
.couleur_univers {
	color:#900;
	}

header {
background-image: url(../images/academy/background-bandeau.jpg);
}

#bandeau {
background-image:url(../images/academy/bandeau.png);
}

#logo {
background-image: url(../images/academy/logo.png);
}
	
.menu_principal {
  background-image: url(../images/academy/background_menu.jpg);
	} 

.degrade_clair_enbas {
  background-image: -moz-linear-gradient(top, #3d120b, #cc3333);
  background-image: -ms-linear-gradient(top, #3d120b, #cc3333);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3d120b), to(#cc3333));
  background-image: -webkit-linear-gradient(top, #3d120b, #cc3333);
  background-image: -o-linear-gradient(top, #3d120b, #cc3333);
  background-image: linear-gradient(top, #3d120b, #cc3333);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#3d120b', endColorstr='#cc3333', GradientType=0);
}

.enteteoffres, .degrade_clair_enhaut {
  background-image: -moz-linear-gradient(top, #cc3333, #3d120b);
  background-image: -ms-linear-gradient(top, #cc3333, #3d120b);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#cc3333), to(#3d120b));
  background-image: -webkit-linear-gradient(top, #cc3333, #3d120b);
  background-image: -o-linear-gradient(top, #cc3333, #3d120b);
  background-image: linear-gradient(top, #cc3333, #3d120b);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#cc3333', endColorstr='#3d120b', GradientType=0);
	}
	
#slogans {
	margin: 0px 0px 26px 25px;
	}


/*! surcharge bootstrap couleurs des liens et titres */
h1, h2, h3, h4, h5, h6 {
  color:#900;
}
a { color: #900; }
a:hover { font-style: italic; color: #900; }

.dropdown-menu li > a:hover,
.dropdown-menu .active > a,
.dropdown-menu .active > a:hover,
.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a {
	color:#fff;
	 background-color:#cc3333;
   background-image: -moz-linear-gradient(top, #cc3333, #3d120b);
  background-image: -ms-linear-gradient(top, #cc3333, #3d120b);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#cc3333), to(#3d120b));
  background-image: -webkit-linear-gradient(top, #cc3333, #3d120b);
  background-image: -o-linear-gradient(top, #cc3333, #3d120b);
  background-image: linear-gradient(top, #cc3333, #3d120b);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#cc3333', endColorstr='#3d120b', GradientType=0);
  background-repeat: repeat;
}


.nav .dropdown-toggle .caret {
  margin-top: 6px;
  border-top-color: #900;
  border-bottom-color: #900;
}

.nav .dropdown-toggle:hover .caret {
  border-top-color: #900;
  border-bottom-color: #900;
}


.jour {
	background-image: url(../images/academy/picto_jour.png);
}

.nuit {background-image:url(../images/academy/picto_nuit.png);}


a.souligne {
	border-top: 1px solid #900;
	font-weight:bold;
	}
	
a.souligne:hover {
	background-color: #900;
	color:#fff;
	}	
	
		
	
/*! surcharge bootstrap couleurs des titres */

