/*!
 * Fiche_univers v1.0.0
 *
 * Copyright 2012 iD4COM, 
 * Designed and built with all the love in the world @twitter by @mdo and @fat.
 */


/* COLONIES */
.vignette-sejour.fichecolonie {
	color:#85187F;
    padding-top: 20px;
	background-image: url(../images/sstitre_colonies.png);
	background-repeat: no-repeat;
	background-position: 10px top;
}
.vignette-sejour.fichecolonie .couleur_univers {
	color:#85187F;
}	
.vignette-sejour.fichecolonie .enteteoffres {
  background-image: -moz-linear-gradient(top, #85187f, #4d1f56);
  background-image: -ms-linear-gradient(top, #85187f, #4d1f56);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#85187f), to(#4d1f56));
  background-image: -webkit-linear-gradient(top, #85187f, #4d1f56);
  background-image: -o-linear-gradient(top, #85187f, #4d1f56);
  background-image: linear-gradient(top, #85187f, #4d1f56);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#85187f', endColorstr='#4d1f56', GradientType=0);
}
.vignette-sejour.fichecolonie a.sejours:hover {
  color: #85187F;
}
.vignette-sejour.fichecolonie .jour {
	background-image: url(../images/colonies/picto_jour.png);
}
.vignette-sejour.fichecolonie .nuit {
	background-image:url(../images/colonies/picto_nuit.png);
}
	
/*! CURIEUX DU MONDE */
.vignette-sejour.fichecurieux {
	color:#449a2b;
    padding-top: 20px;
	background-image: url(../images/sstitre_curieux.png);
	background-repeat: no-repeat;
	background-position: 10px top;
}
.vignette-sejour.fichecurieux .couleur_univers {
	color:#449a2b;
}	
.vignette-sejour.fichecurieux .enteteoffres {
  background-image: -moz-linear-gradient(top, #449a2b, #385a2d);
  background-image: -ms-linear-gradient(top, #449a2b, #385a2d);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#449a2b), to(#385a2d));
  background-image: -webkit-linear-gradient(top, #449a2b, #385a2d);
  background-image: -o-linear-gradient(top, #449a2b, #385a2d);
  background-image: linear-gradient(top, #449a2b, #385a2d);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#449a2b', endColorstr='#385a2d', GradientType=0);
}
.vignette-sejour.fichecurieux a.sejours:hover {
  color: #449a2b;
}
.vignette-sejour.fichecurieux .jour {
	background-image: url(../images/curieuxdumonde/picto_jour.png);
}
.vignette-sejour.fichecurieux .nuit {
	background-image:url(../images/curieuxdumonde/picto_nuit.png);
}

/*! SEJOURS SPORTIFS */
.vignette-sejour.fichesejourssportifs {
	color:#ee8021;
    padding-top: 20px;
	background-image: url(../images/sstitre_sejours_sportifs.png);
	background-repeat: no-repeat;
	background-position: 10px top;
}
.vignette-sejour.fichesejourssportifs .couleur_univers {
	color:#ee8021;
}	
.vignette-sejour.fichesejourssportifs .enteteoffres {
  background-image: -moz-linear-gradient(top, #fbc010, #ee8021);
  background-image: -ms-linear-gradient(top, #fbc010, #ee8021);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbc010), to(#ee8021));
  background-image: -webkit-linear-gradient(top, #fbc010, #ee8021);
  background-image: -o-linear-gradient(top, #fbc010, #ee8021);
  background-image: linear-gradient(top, #fbc010, #ee8021);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#fbc010', endColorstr='#ee8021', GradientType=0);
}
.vignette-sejour.fichesejourssportifs a.sejours:hover {
  color: #ee8021;
}
.vignette-sejour.fichesejourssportifs .jour {
	background-image: url(../images/sejourssportifs/picto_jour.png);
}
.vignette-sejour.fichesejourssportifs .nuit {
	background-image:url(../images/sejourssportifs/picto_nuit.png);
}



/*! ACADEMY */
.vignette-sejour.academy {
	color:#cc3333;
    padding-top: 20px;
	background-image: url(../images/sstitre_academy.png);
	background-repeat: no-repeat;
	background-position: 10px top;
}
.vignette-sejour.academy .couleur_univers {
	color:#cc3333;
}	
.vignette-sejour.academy .enteteoffres {
  background-image: -moz-linear-gradient(top, #cc3333, #3d120b);
  background-image: -ms-linear-gradient(top, #cc3333, #3d120b);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3d120b), to(#cc3333));
  background-image: -webkit-linear-gradient(top, #cc3333, #3d120b);
  background-image: -o-linear-gradient(top, #cc3333, #3d120b);
  background-image: linear-gradient(top, #cc3333, #3d120b);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#cc3333', endColorstr='#3d120b', GradientType=0);
}
.vignette-sejour.academy a.sejours:hover {
  color: #cc3333;
}
.vignette-sejour.academy .jour {
	background-image: url(../images/academy/picto_jour.png);
}
.vignette-sejour.academy .nuit {
	background-image:url(../images/academy/picto_nuit.png);
}
