body.html-body { visibility: hidden; }

/* EXTENSION BOOTSTRAP */
.pagecontent .pull-left { margin-right: 8px; margin-bottom: 8px; }
.pagecontent .pull-right { margin-left: 8px; margin-bottom: 8px; }
.pagecontent .row-fluid.padding .span12 {
    width: 98%; padding: 1%;
    *width: 98%;
}
.pagecontent .row-fluid.padding .span11 {
    width: 89.66666666666666%; padding: 1%;
    *width: 89.62499999999999%;
}
.pagecontent .row-fluid.padding .span10 {
    width: 81.33333333333331%; padding: 1%;
    *width: 81.29166666666664%;
}
.pagecontent .row-fluid.padding .span9 {
    width: 72.99999999999999%; padding: 1%;
    *width: 72.95833333333331%;
}
.pagecontent .row-fluid.padding .span8 {
    width: 64.66666666666666%; padding: 1%;
    *width: 64.62499999999999%;
}
.pagecontent .row-fluid.padding .span7 {
    width: 56.33333333333333%; padding: 1%;
    *width: 56.291666666666664%;
}
.pagecontent .row-fluid.padding .span6 {
    width: 47.99999999999999%;  padding: 1%;
    *width: 47.95833333333333%;
  }
.pagecontent .row-fluid.padding .span5 {
    width: 39.66666666666666%; padding: 1%;
    *width: 39.62499999999999%;
  }
.pagecontent .row-fluid.padding .span4 {
    width: 31.33333333333333%; padding: 1%;
    *width: 31.291666666666664%;
  }
.pagecontent .row-fluid.padding .span3 {
    width: 22.999999999999996%; padding: 1%;
    *width: 22.95833333333333%;
  }
.pagecontent .row-fluid.padding .span2 {
    width: 14.666666666666664%; padding: 1%;
    *width: 14.624999999999996%;
  }
.pagecontent .row-fluid.padding .span1 {
    width: 6.333333333333332%; padding: 1%;
    *width: 6.291666666666666%;
  }
.pagecontent select,
.pagecontent textarea,
.pagecontent input[type="text"],
.pagecontent input[type="password"],
.pagecontent input[type="datetime"],
.pagecontent input[type="datetime-local"],
.pagecontent input[type="date"],
.pagecontent input[type="month"],
.pagecontent input[type="time"],
.pagecontent input[type="week"],
.pagecontent input[type="number"],
.pagecontent input[type="email"],
.pagecontent input[type="url"],
.pagecontent input[type="search"],
.pagecontent input[type="tel"],
.pagecontent input[type="color"],
.pagecontent .uneditable-input {
  height: 16px;
  padding: 2px 4px;
  margin-bottom: 5px;
  font-size: 12px;
  line-height: 16px;
}
.pagecontent select { height: 22px; line-height: 18px; }
.pagecontent fieldset { margin-bottom: 16px; }
.pagecontent fieldset fieldset { margin-left: 1em; }
.pagecontent fieldset legend { font-size: 1.4em; margin-bottom: 4px; margin-top: 0px; }
.pagecontent fieldset fieldset legend { font-size: 1.2em; margin-bottom: 4px; margin-top: 0px;; }
.pagecontent label { font-size: 12px; }
.pagecontent .btn { font-size: 12px; }

/* VIGNETTE SEJOUR */
.vignette-sejour { 
	margin-bottom: 1em;
}
.vignette-sejour .aeration {
	margin: 0px 8px 0px 8px; padding: 3px;
	border: 1px solid #DDDDDD;
	-webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
	behavior: url(pie/PIE.php);
}
.vignette-sejour [class*="span"] {
	display: block; overflow: hidden; text-align: center;
}
.vignette-sejour .enteteoffres {
	position: relative;
	height: 40px;  text-align: left;
	-webkit-border-radius-topleft: 8px;
	-webkit-border-radius-topright: 8px;
    -moz-border-radius-topleft: 8px;
    -moz-border-radius-topright: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
	behavior: url(pie/PIE.php);
	border:0px;
	font-size: 15px;
	font-weight:normal;
	padding: 2px 2px 0px 5px;
	line-height: 15px;
}
.vignette-sejour .enteteoffres .title {
	display: block; height: 22px; line-height: 22px; vertical-align:middle; overflow:hidden;
}
.vignette-sejour .enteteoffres .destinationentete {
	position: absolute; bottom: 2px; height: 14px;
	color: #dadada;
	font-style: italic;
	border: 0px;
	font-size: 12px;
	font-weight: normal;
	padding: 5px 2px 0px 0px;
	line-height:12px;
	margin:0px;
	display:block;
	overflow:hidden;
}
.vignette-sejour .sejour-vignette-image {
	height: 145px; vertical-align: middle; text-align: center; line-height: 140px;
	border-bottom: 1px solid #DDDDDD;
}
.vignette-sejour .sejour-vignette-image img { vertical-align: middle; }
.vignette-sejour .periods {
	height: 65px; border-bottom: 1px solid #DDDDDD;
}
.vignette-sejour .duration, .vignette-sejour .formule, .vignette-sejour .public, .vignette-sejour .price {
	height: 40px; border-bottom: 1px solid #DDDDDD;
}
.vignette-sejour .formule, .vignette-sejour .price {
	border-left: 1px solid #DDDDDD;
}
.vignette-sejour .duration {
	padding-top: 3px;
}
.vignette-sejour .descriptif {
	line-height: 17px; height: 112px; padding: 5px; text-align: left; font-size: 11px;
}

a.sejours, .sejours {
	display:block; margin: 0; padding: 0;
}
a.sejours:hover {
	background-color:#dadada;
	text-decoration:none;
	-webkit-transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
	-o-transition:  background-color 0.5s ease-in-out, color 0.5s ease-in-out;
	-ms-transition:  background-color 0.5s ease-in-out, color 0.5s ease-in-out;
	-moz-transition:  background-color 0.5s ease-in-out, color 0.5s ease-in-out;
	transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

/* FORM */
form label.required:after { content: '*' }
form input[type="radio"], form input[type="checkbox"] { vertical-align:top; display: inline; }
form input[type="radio"] + label { display: inline; vertical-align:middle; }
form input[type="checkbox"] + label { display: inline; vertical-align:middle; }
form .alert-form.alert-error ul { margin: 12px 0 12px 0; list-style: none; margin: 0; }
form .alert-form.alert-error ul  li { display: block; margin: 0; }
form .alert-form.alert-error { padding: 3px; margin-bottom: 2px; background-color: transparent; border: 0; margin-top: -6px; }

#flashinfoscontent {
	font-size:100%; line-height:125%; height: 100px; overflow: hidden; padding: 0;
}
#flashinfoscontent .carousel-inner { height: 100px; }
#flashinfoscontent h5 {
	font-size:110%; padding-right: 38px;
}
#flashinfoscontent a { color: #333333; display: block; padding: 4px; height: 92px; }
#flashinfoscontent a:hover { 
	background-color: #707173; color: #FFF;
}
#flashinfoscontent a:hover h5 { color: #FFF; }
#flashinfoscontent .carousel-inner div.item { height: 100px; }
#flashinfoscontent.carousel { margin-bottom: 2px; }
#flashinfoscontent .carousel-control {
	position: absolute; z-index: 1; top: 8px; color: #FFF;
	height: 15px; width: 15px; line-height: 13px;
	display: block; margin: 0px 4px 0px 0px; padding: 0;
	border-radius: 8px 8px 8px 8px;
	font-size: 20px; background-color: #000;
}
#flashinfoscontent .carousel-control.left {
	left: auto; right:20px;
}
#flashinfoscontent .carousel-control.right {
	left: auto; right:2px;
}

/* EXTENSION STYLE OXYGEN WEBSITE */
article.main-entry.light { text-align: center; }
article.main-entry.light > header h1 {
	color: #5D7833; font-size: 1.8em; vertical-align: middle;
}

/* REMPLACEMENT BOOTSTRAP SPORTETE */
#destinationsetblogs .accordion { padding-top: 5px; }
#destinationsetblogs .destination {	background-color: #8EBC11; padding: 2px; }
#destinationsetblogs .destination .correction_padding { !important; padding:5px; }	
#destinationsetblogs .destination a { display: block; color:#fff; height: 30px; line-height: 30px; vertical-align: middle; }
#destinationsetblogs .destination a:hover { font-style: italic; }
#destinationsetblogs .destination .carte_destination { float:left; margin-left:10px; heigth: 55px; width: 55px; }
#destinationsetblogs .accordion-heading > a {
	display:block;
	padding:0px 0px 0px 35px;
	background-image:url(../images/puce_dest_blog_open.png);
	background-color: #b1b3b4;
	background-color: #dadada;
	background-repeat:no-repeat;
	background-position: 20px center;
	color:#6b6b6b;	
	line-height:18px;
}
#destinationsetblogs .accordion-heading > a.collapsed {
	background-image:url(../images/puce_dest_blog.png);
	background-color: transparent;
}
#destinationsetblogs .accordion-heading > a:hover {
	background-color: #666;
	color:#fff;
	font-weight:bold;
	text-decoration:none;
	cursor:pointer;	
}

/* DESTINATION */
.entete_destination_resume { margin-bottom: 1em; }
.entete_destination_resume .gallery { 
	position: relative; height: 215px; margin: 0;
  	border: none; /* Pas de bordure = "none". */
  	border-collapse: separate; /* Valeur par défaut: "separate". */
  	border-spacing: 0; 
}
/* --- gallery */
.entete_destination_resume .gallery td, .entete_destination_resume .gallery th {
	 vertical-align: top; /* Valeur par défaut: "middle" */;
	 height: 100%; padding: 1px 0 1px 0;
}
.entete_destination_resume .gallery .main-picture img { width: 100%; height: 100%; }
.entete_destination_resume .gallery .main-picture { 
	display: block; width: 100%; height: 100%; overflow: hidden;
	margin: 0;
}
.entete_destination_resume .gallery ul.thumbnails-centre { position: relative; display: block; z-index: 2;  width: 100%; height: 100%; margin: 0; padding: 0; overflow: hidden; list-style: none; }
.entete_destination_resume .gallery ul.thumbnails-centre > li { line-height: 71px;  z-index: 2; vertical-align: middle; display: block; height: 71px; width: 100%; float: left; overflow: hidden; margin: 0; padding: 0; }
.entete_destination_resume .gallery ul.thumbnails-centre > li img { line-height: 71px;  z-index: 2; vertical-align: middle; width: 90%; margin: 0 5% 0 5%; }
.main-picture.carousel .item {-webkit-transition: opacity 3s; -moz-transition: opacity 3s; -ms-transition: opacity 3s; -o-transition: opacity 3s; transition: opacity 3s;}
.main-picture.carousel .active.left {left:0;opacity:0;z-index:2;}
.main-picture.carousel .next {left:0;opacity:1;z-index:1;}
#thumbnails-focus { 
	position: absolute; top: 0; left: 0; height: 71px; width: 100%; z-index: 1; background-color: #FFF;
	-ms-filter: "alpha(opacity=25)"; filter: progid:DXImageTransform.Microsoft.Alpha(opacity=25); opacity: 0.25;
}

/* --- header addons */
.entete_destination_resume table.addons { color: #FFF; border-top: 1px solid #FFF; }
.entete_destination_resume .addons td { width: 33%; }
.entete_destination_resume .addons td.middle { width: 34%; }
.entete_destination_resume .addons .addons-content { background-color:#b1b3b4; color:#000; }
.entete_destination_resume .addons ul { list-style: none; margin-left: 0; }

/* --- header addons > map */
#destination-map.full-screen { position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: 999999; }
.entete_destination_resume .addons .localisation { background-color: transparent; }
.entete_destination_resume .addons .localisation.full-screen { 
	position: fixed; top: 0; right: 0; width: 150px; height: 20px; z-index: 9999999;
	background-color: #FFF; color: #000;
}
#destination-map.small-screen {
	position: relative; width: 200px; height: 200px;
}

.address-centre { border-left:1px solid #000; padding-left:10px; width: 33%; }
.centre-buttons { margin-top: 1em; }
.centre-buttons .btn { display: block; margin: 0 2px 0 2px; }

/* CONTENT */
article.main-entry header blockquote a { color: #FFF; }

/* PAGE/ARTICLE */
.pagecontent .align-left { float: left; }
.pagecontent .align-right {	float: right; }
.pagecontent ul li { list-style-position:inside; }
.pagecontent table {
  margin: 0; width: 100%;
  border: none; /* Pas de bordure = "none". */
  border-collapse: separate; /* Valeur par défaut: "separate". */
  border-spacing: 0;
}
.pagecontent table td, .pagecontent table th {
  padding: 4px; /* Pas de retrait autour du texte = "0". */
  vertical-align: top; /* Valeur par défaut: "middle" */
}

/* PAGE/RESULT */
.header-tools {
	display: block;
	float:right;
	margin:10px 20px 0 0
}
#wrapper-more-result .elargir_titre{
	font-size: 22px;
    font-variant: small-caps;
    font-weight: 400;
    margin-top: 3px;
    padding: 0;
    line-height:normal
}
/* ARTICLE */
article .excerpt { float: right; width: 90px; margin-left: 5px; }

.footer_a_set .sous_slogan {
	font-size: inherit
}

/* FOOTER */
#footer-univers .footer_a_set { 
	font-weight: bold; color: #666666;
    display: block;
    font-size: 80%;
    line-height: 11px; 
}
#footer-univers .footer_a_set .sous_slogan { font-weight: normal; }
#footer-univers .footer_a_set .sous_slogan br { display: none; }
#footer-univers .footer_a_set .sous_slogan br:after { content: ' '; }