@charset "UTF-8";
/* CSS Document */


/*! css_portail  */	

.arriere_plan1 {
	background-image:url(../images/background-1_portail_sport_ete.jpg);
	background-position: top center;
	background-repeat: repeat;}	
	
.arriere_plan2 {
	background-image:url(../images/background-2_portail_sport_ete.jpg);
	background-position: top center;
	background-repeat: no-repeat;}		

/*! Boutton plan du site portail  */
.plandusite {
	float:left;
	background-image:url(../images/background_boutton_plandusite.png);
	background-repeat: no-repeat;
	background-position: center center; 
	width: 192px;
	height:39px;
	color:#fff;
	background-color:none;
	font-size: 11px;
	padding-left:30px;
	margin: 0px 0px -2px 0px;}
	
.plandusite:hover {
	background-position: center center; 
	color:#dadada;}
	
/*!portail : Boutton contact  */	
.contact_portail {
	float:right;
	background-image:url(../images/background_boutton_contact.png);
	background-repeat: no-repeat;
	background-position: center center; 
	width: 79px;
	height:35px;
	color:#fff;
	background-color:none;
	font-size: 11px;
	text-align:center;
	margin: 0px 0px -22px 0px;}
	
.contact_portail:hover {
	background-position: center center; 
	color:#dadada;}
	
/*! portail : boutton catalogue  */
	
.catalogue {
	float:right;
	background-image:url(../images/background_boutton_catalogue.png);
	background-repeat: no-repeat;
	background-position: center center; 
	width: 157px;
	height: 35px;
	color:#fff;
	background-color:none;
	font-size: 11px;
	padding-left:30px;
	margin: 0px 0px 0px 0px;}
	
.catalogue:hover {
	background-position: center center; 
	color:#dadada;}
	
/*! portail : Slogan  */
	
#slogans_portail {
	font-size: 24px;
	line-height:24px;
	margin: 75px 0px 0px 0px;
	font-weight:200;
	letter-spacing:1px;
	text-align: center;
	text-shadow: 0 1px 1px 0px rgba(0, 0, 0, 1);
	}
	
#slogans_portail a {
	color:#fff;
	}	
	

/*! recherche portail  */

 a.portail_recherche {
	margin: 0px 0px 0px 0px;
	display: block;
	text-align: center;
	padding: 60px 60px;
	color:#fff;
	background-image:url(../images/boutonportailrecherche.png);
	background-repeat:no-repeat;
	background-repeat:no-repeat;
	background-position: top center;
	
	}
	
	
a.portail_recherche:hover {
	background-image: url(../images/boutonportailrecherche_hover.png);

	}
	
.cpmnt {
	font-family: Arial;
	font-size:12px;}
	

/*! logo Portail Sport été  */

.sportete a {
	color:#fff;
	} 		

.sportete a:hover {
  background-color: #999;
  } 
	

#logo_portail {
	margin-top: 100px;
	color:#fff;
height:150px;
background-image: url(../images/logo.png);
background-repeat:no-repeat;
background-position: center center;
text-align: center;
}

.bouttonrecherche_calage_vertic {
	margin-top: -50px;
	}	


.academy_calage_horiz {
	margin-left: 200px;
	}
	
.academy_calage_vertic {
	margin-top: -20px;
	}	
	
.groupesetce_calage_horiz {
	margin-left: -70px;
	}
	
.groupesetce_calage_vertic {
	margin-top: -20px;
	}		

.sejourssportifs_calage_vertic {
	margin-top: 35px;
	text-align: center;
	vertical-align: bottom;
	}
	
.sejourssportifs_calage_horiz {
	margin-left:90px;}	
	
.curieuxdumonde_calage {
	margin-top: -120px;
	}
	
.colonies_calage_vertic {
	margin-top: 45px;
	}
	
.colonies_calage_horiz {
	margin-left: -35px;
	}	
	
.modalintro {
  
  width: 235px;
  margin: -250px 0 0 -100px;
  background-color: #none;
}		
			
	
/*! Effet zoom portail à corriger...  */	
	
.zoom {
   padding: 0px; border: none;
   background-color : transparent ; /* nécessaire pour que le filtre fonctionne */
}

.zoom:hover {
   -moz-transform: scale(1.2);
   -webkit-transform: scale(1.2);
   -o-transform: scale(1.2);
   transform: scale(1.2);
   -ms-transform: scale(1.2);
   background-color : transparent ; /* nécessaire pour que le filtre fonctionne */
    -webkit-transition: all .3s ease-out;
   -moz-transition: all .3s ease-out;
   -o-transition: all .3s ease-out;
   transition: all .3s ease-out;
   }
   
