.couleur_univers,
.sejourssportifs {
	color:#ee8021;
	}

header {
background-image: url(../images/sejourssportifs/background-bandeau.jpg);
}

#bandeau {
background-image:url(../images/sejourssportifs/bandeau.jpg);
}

#logo {
background-image: url(../images/sejourssportifs/logo.png);
}
	
.menu_principal {
  background-image: url(../images/sejourssportifs/background-menu.jpg);
	} 

#degrade_clair_enbas, .degrade_clair_enbas {
  background-image: -moz-linear-gradient(top, #ee8021, #fbc010);
  background-image: -ms-linear-gradient(top, #ee8021, #fbc010);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee8021), to(#fbc010));
  background-image: -webkit-linear-gradient(top, #ee8021, #fbc010);
  background-image: -o-linear-gradient(top, #ee8021, #fbc010);
  background-image: linear-gradient(top, #ee8021, #fbc010);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ee8021', endColorstr='#fbc010', GradientType=0);
}

.enteteoffres, .degrade_clair_enhaut {
  background-image: -moz-linear-gradient(top, #fbc010, #ee8021);
  background-image: -ms-linear-gradient(top, #fbc010, #ee8021);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbc010), to(#ee8021));
  background-image: -webkit-linear-gradient(top, #fbc010, #ee8021);
  background-image: -o-linear-gradient(top, #fbc010, #ee8021);
  background-image: linear-gradient(top, #fbc010, #ee8021);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#fbc010', endColorstr='#ee8021', GradientType=0);
	}
	
#slogans {
	margin: 0px 0px 27px 25px;
	}
	
	
/*! surcharge bootstrap couleurs des liens */

a {
  color: #ee8021;
}

a:hover {
  color: #fbc010;

}

.dropdown-menu li > a:hover,
.dropdown-menu .active > a,
.dropdown-menu .active > a:hover,
.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a {
	color:#fff;
	 background-color:#cc3333;
   background-image: -moz-linear-gradient(top, #fbc010, #ee8021);
  background-image: -ms-linear-gradient(top,  #fbc010, #ee8021);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbc010), to(#ee8021));
  background-image: -webkit-linear-gradient(top,  #fbc010, #ee8021);
  background-image: -o-linear-gradient(top,  #fbc010, #ee8021);
  background-image: linear-gradient(top,  #fbc010, #ee8021);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#fbc010', endColorstr='#ee8021', GradientType=0);
  background-repeat: repeat;
}

.nav .dropdown-toggle .caret {
  margin-top: 6px;
  border-top-color: #900;
  border-bottom-color: #900;
}

.nav .dropdown-toggle:hover .caret {
  border-top-color: #900;
  border-bottom-color: #900;
}

	
.jour {
	background-image: url(../images/sejourssportifs/picto_jour.png);}

.nuit {background-image:url(../images/sejourssportifs/picto_nuit.png);}

#sousmenu_page {background-color:#000000;}